body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.font-chinese{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.err-hint{
  color: #D8D8D8;
}
table tbody tr:hover{
  background-color: #f5f5f5;
}
.btn{
  text-transform: none;
}
.clsbtn{
  margin-top:0px;
  margin-bottom:0px;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-signin{
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}
.account-wall{
    margin-top: 50px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.new-account{
    display: block;
    margin-top: 10px;
}
.fa-check{
    color: #EEEEEE;
}
.is-checked{
    color: #009587;
}
.dis-checked{
    color: #EEEEEE;
}
.loading-img{
   display: block;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Regular'), url(http://int64ago.qiniudn.com/o_19ckm1t8lkna14n01nft1e1g17rl9.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.btn-group{
  box-shadow: none;
}
.btn-group:hover{
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}
.close-x:hover {
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
    transform: rotateY(180deg);
}